@model  LOJADEGAMES.Models.CLASS_FUNCIONARIO
@{
    ViewBag.Title = "Index";
}
<h2><b>VISH... ESSE TEM CORAGEM. TRABALHAR AQUI NÃO É FÁCIL, PARECE ATÉ ETEC :P</b></h2>
<legend></legend>

<fieldset>
    <div class="editor-label"> @Html.DisplayNameFor(m => m.COD_FUNC)</div>
    <div class="editor-field"> @Html.DisplayFor(m => m.COD_FUNC)</div>
    <br />

    <div class="editor-label"> @Html.DisplayNameFor(m => m.NOME_FUNC)</div>
    <div class="editor-field"> @Html.DisplayFor(m => m.NOME_FUNC)</div>
    <br />

    <div class="editor-label"> @Html.DisplayNameFor(m => m.CPF_FUNC)</div>
    <div class="editor-field"> @Html.DisplayFor(m => m.CPF_FUNC)</div>
    <br />

    <div class="editor-label"> @Html.DisplayNameFor(m => m.CPF_FUNC)</div>
    <div class="editor-field"> @Html.DisplayFor(m => m.CPF_FUNC)</div>
    <br />

    <div class="editor-label"> @Html.DisplayNameFor(m => m.DATA_NASC_FUNC)</div>
    <div class="editor-field"> @Html.DisplayFor(m => m.DATA_NASC_FUNC)</div>
    <br />

    <div class="editor-label"> @Html.DisplayNameFor(m => m.END_FUNC)</div>
    <div class="editor-field"> @Html.DisplayFor(m => m.END_FUNC)</div>
    <br />

    <div class="editor-label"> @Html.DisplayNameFor(m => m.CEL_FUNC)</div>
    <div class="editor-field"> @Html.DisplayFor(m => m.CEL_FUNC)</div>
    <br />

    <div class="editor-label"> @Html.DisplayNameFor(m => m.EMAIL_FUNC)</div>
    <div class="editor-field"> @Html.DisplayFor(m => m.EMAIL_FUNC)</div>
    <br />

    <div class="editor-label"> @Html.DisplayNameFor(m => m.CARGO_FUNC)</div>
    <div class="editor-field"> @Html.DisplayFor(m => m.CARGO_FUNC)</div>

    <br />
    <br />
    @Html.ActionLink("Menu", "Index", "Home")




</fieldset>
© 2021 GitHub, Inc.